<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="/drop-in-web-components/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/drop-in-web-components/css/bootswatch.min.css">
    <style>
        h1 {
            margin-left: 36px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Google Plus Gallery Component</h1>
    <script id="gplus-gallery" data-user-id="111186676244625461692" src="google-plus-gallery.js"></script>
    <hr>
    <h2>Embed on your site</h2>
    <div class="well">
        <code>
            &lt;script id="gplus-gallery" data-user-id="111186676244625461692" src="http://kidgodzilla.github.io/drop-in-web-components/components/google-plus-gallery/google-plus-gallery.js">&lt;/script>
        </code>
    </div>
</div>
</body>
</html>