<div class="isotope-filter-component"></div>
<script>
  Droplets.registerComponent({
    name: "isotope-filter",
    afterRender: function (componentID) {
      $(document).ready(function () {
        /**
         * Retrieve cached innerHTML for this component
         */
        var innerHTML = Droplets.getInnerHTML(componentID);
        $("#" + componentID + " .isotope-filter-component").html(innerHTML);

        /**
         * Load Isotope on this component
         */
        var $container = $("#" + componentID + " .isotope-filter-component").isotope({
          itemSelector: '.element-item',
          layoutMode: 'fitRows',
          getSortData: {
            category: '[data-category]'
          }
        });

        /**
         * bind filter button click
         */
        $('#filters button').on('click', function () {
          $container.isotope({
            filter: $(this).attr('data-filter')
          });
        });

        /**
         * change is-checked & active classes on buttons
         */
        $('.button-group').each(function(i, buttonGroup) {
          var $buttonGroup = $(buttonGroup);
          $buttonGroup.on( 'click', 'button', function () {
            $buttonGroup.find('.is-checked, .active').removeClass('is-checked, active');
            $(this).addClass('is-checked, active');
          });
        });

      });
    },
    scripts: ['http://mfzy.co/isotope.pkgd.js']
  });
</script>