<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="/drop-in-web-components/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/drop-in-web-components/css/bootswatch.min.css">
    <script src="/drop-in-web-components/library/loader.js"></script>
    <style>
        h1 {
            margin-left: 36px;
        }
        /*#DemoComponent {*/
            /*max-width: 1000px;*/
            /*margin: 0 auto;*/
            /*background: rgba(255,255,255,.05);*/
            /*padding: 15px;*/
        /*}*/
    </style>
</head>
<body>
<h1>Unslider: Basic jQuery Slider Component</h1>
<div id="DemoComponent" data-component-name="unslider-component" data-source-url="unslider.html">
    <li style="background-image: url('http://unslider.com/img/sunset.jpg');">
        <h1>The jQuery slider that just slides.</h1>
        <p>No fancy effects or unnecessary markup, and it’s less than 3kb.</p>

        <a class="btn" href="#download">Download</a>
    </li>

    <li style="background-image: url('http://unslider.com/img/wood.jpg');">
        <h1>Fluid, flexible, fantastically minimal.</h1>
        <p>Use any HTML in your slides, extend with CSS. You have full control.</p>

        <a class="btn" href="#download">Download</a>
    </li>

    <li style="background-image: url('http://unslider.com/img/subway.jpg');">
        <h1>Open-source.</h1>
        <p>Everything to do with Unslider is hosted on GitHub.</p>

        <a class="btn" href="//github.com/idiot/unslider">Contribute</a>
    </li>

    <li style="background-image: url('http://unslider.com/img/shop.jpg');">
        <h1>Uh, that’s about it.</h1>
        <p>I just wanted to show you another slide.</p>

        <a class="btn" href="#download">Download</a>
    </li>
</div>
</body>
</html>