<style>
    .unslider-component.banner {
        position: relative;
        width: 100%;
        overflow: auto;

        font-size: 18px;
        line-height: 24px;
        text-align: center;

        color: rgba(255,255,255,.6);
        text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);

        background: #5b4d3d;
        box-shadow: 0 1px 2px rgba(0,0,0,.25);
    }
    .unslider-component.banner ul {
        list-style: none;
        width: 300%;
    }
    .unslider-component.banner ul li {
        display: block;
        float: left;
        width: 33%;
        min-height: 350px;

        -o-background-size: 100% 100%;
        -ms-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;

        box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
    }

    .unslider-component.banner .inner {
        padding: 160px 0 110px;
    }

    .unslider-component.banner h1, .unslider-component.banner h2 {
        font-size: 40px;
        line-height: 52px;

        color: #fff;
    }

    .unslider-component.banner .btn {
        display: inline-block;
        margin: 25px 0 0;
        padding: 9px 22px 7px;
        clear: both;

        color: #fff;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;

        border: 2px solid rgba(255,255,255,.4);
        border-radius: 5px;
    }
    .unslider-component.banner .btn:hover {
        background: rgba(255,255,255,.05);
    }
    .unslider-component.banner .btn:active {
        -webkit-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
        -moz-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
        -ms-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
        -o-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
        filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
    }

    .unslider-component.banner .btn, .unslider-component.banner .dot {
        -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
        -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
        -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
        -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
        filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    }

    .unslider-component.banner .dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        width: 100%;
    }
    .unslider-component.banner .dots li {
        display: inline-block;
        *display: inline;
        zoom: 1;

        width: 10px;
        height: 10px;
        line-height: 10px;
        margin: 0 4px;

        text-indent: -999em;
        *text-indent: 0;

        border: 2px solid #fff;
        border-radius: 6px;

        cursor: pointer;
        opacity: .4;

        -webkit-transition: background .5s, opacity .5s;
        -moz-transition: background .5s, opacity .5s;
        transition: background .5s, opacity .5s;
    }
    .unslider-component.banner .dots li.active {
        background: #fff;
        opacity: 1;
    }

    .unslider-component.banner .arrows {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: #fff;
    }
    .unslider-component.banner .arrow {
        display: inline;
        padding-left: 10px;
        cursor: pointer;
    }


    .unslider-component.banner { position: relative; overflow: auto; }
    .unslider-component.banner li { list-style: none; }
    .unslider-component.banner ul li { float: left; }
</style>
<div class="unslider-component banner"></div>
<script>
    Droplets.registerComponent({
        name: "unslider-component",
        afterRender: function (componentID) {
            $(document).ready(function () {
                /**
                 * Retrieve cached innerHTML for this component
                 */
                var innerHTML = Droplets.getInnerHTML(componentID);
                $("#" + componentID + " .unslider-component").html(innerHTML);

                /**
                 * Load Unslider on this component
                 */
                $("#" + componentID + " .unslider-component").unslider();
            });
        },
        scripts: ['http://unslider.com/unslider.min.js']
    });
</script>