<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="/drop-in-web-components/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/drop-in-web-components/css/bootswatch.min.css">
    <style>
        h1 {
            margin-left: 36px;
        }
        #fill-murray {
            max-width: 1000px;
            margin: 0 auto;
            background: rgba(255,255,255,.05);
            padding: 15px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Fill Murray Component</h1>
    <script id="fill-murray" data-width="200" data-height="300" src="http://kidgodzilla.github.io/drop-in-web-components/components/fill-murray/fill-murray.js"></script>
    <hr>
    <h2>Embed on your site</h2>
    <div class="well">
        <code>
            &lt;script id="fill-murray" data-width="200" data-height="300" src="http://kidgodzilla.github.io/drop-in-web-components/components/fill-murray/fill-murray.js">&lt;/script>
        </code>
    </div>
</div>
</body>
</html>