<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="/drop-in-web-components/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/drop-in-web-components/css/bootswatch.min.css">
    <script src="/drop-in-web-components/library/loader.js"></script>
    <style>
        h1 {
            margin-left: 36px;
        }
    </style>
</head>
<body>
<h1>Owl Carousel Basic Slider Component</h1>
<div id="DemoComponent" data-component-name="owl-carousel-basic-slider" data-source-url="owl-carousel-basic.html">

</div>
</body>
</html>