<div class="owl-carousel-basic-slider-component"></div>
<script>
    Droplets.registerComponent({
        name: "owl-carousel-basic-slider",
        afterRender: function (componentID) {
            $(document).ready(function () {
                $("#" + componentID + " .owl-carousel-basic-slider-component")
            });
        },
        scripts: ['http://kidgodzilla.github.io/drop-in-web-components/components/owl-carousel-basic/js/owl.carousel.min.js'],
        stylesheets: ['http://kidgodzilla.github.io/drop-in-web-components/components/owl-carousel-basic/css/owl.carousel.css', 'http://kidgodzilla.github.io/drop-in-web-components/components/owl-carousel-basic/css/owl.theme.css']
    });
</script>