<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="/drop-in-web-components/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/drop-in-web-components/css/bootswatch.min.css">
    <script src="/drop-in-web-components/library/loader.js"></script>
    <style>
        h1 {
            margin-left: 36px;
        }
        #owl-carousel {
            max-width: 1000px;
            margin: 0 auto;
            background: rgba(255,255,255,.05);
            padding: 15px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Owl Carousel Slider Component with Autoplay</h1>
    <script id="owl-carousel" data-carousel-items="4" data-carousel-timeout="3000" src="owl-carousel-autoplay.js">
        <div class="item"><img src="images/owl1.jpg" alt="Owl Image"></div>
        <div class="item"><img src="images/owl2.jpg" alt="Owl Image"></div>
        <div class="item"><img src="images/owl3.jpg" alt="Owl Image"></div>
        <div class="item"><img src="images/owl4.jpg" alt="Owl Image"></div>
        <div class="item"><img src="images/owl5.jpg" alt="Owl Image"></div>
        <div class="item"><img src="images/owl6.jpg" alt="Owl Image"></div>
        <div class="item"><img src="images/owl7.jpg" alt="Owl Image"></div>
        <div class="item"><img src="images/owl8.jpg" alt="Owl Image"></div>
    </script>
    <hr>
    <h2>Embed on your site</h2>
    <div class="well"><code><pre>&lt;script id="owl-carousel" data-carousel-items="4" data-carousel-timeout="3000" src="http://kidgodzilla.github.io/drop-in-web-components/components/owl-carousel-autoplay/owl-carousel-autoplay.js">
    &lt;div class="item">&lt;img src="images/owl1.jpg" alt="Owl Image">&lt;/div>
    &lt;div class="item">&lt;img src="images/owl2.jpg" alt="Owl Image">&lt;/div>
    &lt;div class="item">&lt;img src="images/owl3.jpg" alt="Owl Image">&lt;/div>
    &lt;div class="item">&lt;img src="images/owl4.jpg" alt="Owl Image">&lt;/div>
    &lt;div class="item">&lt;img src="images/owl5.jpg" alt="Owl Image">&lt;/div>
    &lt;div class="item">&lt;img src="images/owl6.jpg" alt="Owl Image">&lt;/div>
    &lt;div class="item">&lt;img src="images/owl7.jpg" alt="Owl Image">&lt;/div>
    &lt;div class="item">&lt;img src="images/owl8.jpg" alt="Owl Image">&lt;/div>
            &lt;/script></pre></code></div>
</div>
</body>
</html>