<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="/drop-in-web-components/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/drop-in-web-components/css/bootswatch.min.css">
    <script src="/drop-in-web-components/library/loader.js"></script>
    <style>
        h1 {
            margin-left: 36px;
        }
        #DemoComponent {
            max-width: 1000px;
            margin: 0 auto;
            background: rgba(255,255,255,.05);
            padding: 15px;
        }
    </style>
</head>
<body>
<h1>Owl Carousel Basic Slider Component</h1>
<div id="DemoComponent" data-component-name="owl-carousel-autoplay" data-carousel-items="4" data-source-url="owl-carousel-autoplay.html">
    <div class="item"><img src="images/owl1.jpg" alt="Owl Image"></div>
    <div class="item"><img src="images/owl2.jpg" alt="Owl Image"></div>
    <div class="item"><img src="images/owl3.jpg" alt="Owl Image"></div>
    <div class="item"><img src="images/owl4.jpg" alt="Owl Image"></div>
    <div class="item"><img src="images/owl5.jpg" alt="Owl Image"></div>
    <div class="item"><img src="images/owl6.jpg" alt="Owl Image"></div>
    <div class="item"><img src="images/owl7.jpg" alt="Owl Image"></div>
    <div class="item"><img src="images/owl8.jpg" alt="Owl Image"></div>
</div>
</body>
</html>