<div class="owl-carousel-autoplay-slider-component owl-carousel owl-theme"></div>
<style>
    .owl-carousel-autoplay-slider-component.owl-carousel .item{
        margin: 3px;
    }
    .owl-carousel-autoplay-slider-component.owl-carousel .item img{
        display: block;
        width: 100%;
        height: auto;
    }
</style>
<script>
    Droplets.registerComponent({
        name: "owl-carousel-autoplay",
        afterRender: function (componentID) {
            $(document).ready(function () {
                /**
                 * Retrieve cached innerHTML for this component
                 */
                var innerHTML = Droplets.getInnerHTML(componentID);
                $("#" + componentID + " .owl-carousel-autoplay-slider-component").html(innerHTML);

                /**
                 * Get & nice variables, set defaults, etc.
                 */
                var timeout = $("#" + componentID).attr('data-carousel-timeout') || 3000;
                var itemCount = $("#" + componentID).attr('data-carousel-items') || 4;
                if (timeout) timeout = parseInt(timeout);
                if (itemCount) itemCount = parseInt(itemCount);
                if (typeof(timeout) !== "number") timeout = 3000;
                if (typeof(itemCount) !== "number") itemCount = 4;

                /**
                 * Load Owl Carousel on this component
                 */
                $("#" + componentID + " .owl-carousel-autoplay-slider-component").owlCarousel({
                    autoPlay: timeout,
                    items : itemCount,
                    itemsDesktop : [1199,3],
                    itemsDesktopSmall : [979,3]
                });
            });
        },
        scripts: ['http://kidgodzilla.github.io/drop-in-web-components/components/owl-carousel-basic/js/owl.carousel.min.js'],
        stylesheets: ['http://kidgodzilla.github.io/drop-in-web-components/components/owl-carousel-basic/css/owl.carousel.css', 'http://kidgodzilla.github.io/drop-in-web-components/components/owl-carousel-basic/css/owl.theme.css']
    });
</script>