<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="http://bt-pages.webhook.org/internal-bootstrap/bt_internal/bootstrap.css" media="screen">
    <link rel="stylesheet" href="http://bt-pages.webhook.org/internal-bootstrap/assets/css/bootswatch.min.css">
    <script src="../../library/loader.js"></script>
    <style>
        h1 {
            margin-left: 36px;
        }
    </style>
</head>
<body>
<h1>Flickr Gallery Component</h1>
<div id="DemoComponent" data-component-name="flickr-gallery" data-source-url="http://wpages.co/components/flickr-gallery" data-user-id="34858669@N00"></div>
</body>
</html>