<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="/drop-in-web-components/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/drop-in-web-components/css/bootswatch.min.css">
    <script src="/drop-in-web-components/library/loader.js"></script>
    <style>
        h1 {
            margin-left: 36px;
        }
    </style>
</head>
<body>
<h1>Flickr Gallery Component</h1>
<script id="flickr-gallery" data-user-id="34858669@N00" src="flickr-gallery.js"></script>

<h2>Embed on your site</h2>

<code>
&lt;script id="flickr-gallery" data-user-id="34858669@N00" src="http://kidgodzilla.github.io/drop-in-web-components/components/flickr-gallery/flickr-gallery.js">&lt;/script>
</code>

</body>
</html>