<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="/drop-in-web-components/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/drop-in-web-components/css/bootswatch.min.css">
    <script src="/drop-in-web-components/library/loader.js"></script>
    <style>
        h1 {
            margin-left: 36px;
        }
    </style>
</head>
<body>
<h1>Flickr Gallery Component</h1>
<div id="DemoComponent" name="flickr-gallery" data-source-url="flickr-gallery.html" data-user-id="34858669@N00"></div>
</body>
</html>