<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="/drop-in-web-components/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/drop-in-web-components/css/bootswatch.min.css">
    <script src="/drop-in-web-components/library/loader.js"></script>
    <style>
        h1 {
            margin-left: 36px;
        }
        #fluid-box {
            max-width: 1000px;
            margin: 0 auto;
            background: rgba(255,255,255,.05);
            padding: 15px;
        }
    </style>
</head>
<body>
<h1>Fluidbox Lightbox Component</h1>

<script type="text/droplet" id="fluid-box" src="fluidbox.js">
    <a href="http://i.imgur.com/uh5YLj5.jpg">
        <img src="http://i.imgur.com/uh5YLj5.jpg" alt="" style="width:400px">
    </a>
</script>
</body>
</html>